@tailwind base;
@tailwind components;
@tailwind utilities;


/* HTML: <div class="loader"></div> */
.loader {
    width: 45px;
    aspect-ratio: 1;
    --c:no-repeat linear-gradient(#b3b3b3 0 0);
    background: var(--c), var(--c), var(--c);
    animation: 
      l18-1 1s infinite,
      l18-2 1s infinite;
  }
  @keyframes l18-1 {
   0%,100% {background-size:20% 100%}
   33%,66% {background-size:20% 20%}
  }
  @keyframes l18-2 {
   0%,33%   {background-position: 0    0,50% 50%,100% 100%}
   66%,100% {background-position: 100% 0,50% 50%,0    100%}
  }



/* CSS */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(221, 100%, 16%) 0%,
    hsl(210, 100%, 32%) 8%,
    hsl(211, 100%, 32%) 92%,
    hsl(225, 100%, 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(220, 100%, 44%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

/* HTML: <div class="loader"></div> */
.loader-get {
  display: inline-grid;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  outline: 7px solid #474847;
  outline-offset: -1px;
  animation: l3-0 4s linear infinite;

}
.loader-get:before,
.loader-get:after {
  content:"";
  grid-area: 1/1;
}
.loader-get:before {
  clip-path: polygon(evenodd,0 0,100% 0,100% 100%,0 100%,0 0,100% 50%,83.81% 59.06%,93.3% 75%,74.75% 74.75%,75% 93.3%,59.06% 83.81%,50% 100%,40.94% 83.81%,25% 93.3%,25.25% 74.75%,6.7% 75%,16.19% 59.06%,0% 50%,16.19% 40.94%,6.7% 25%,25.25% 25.25%,25% 6.7%,40.94% 16.19%,50% 0%,59.06% 16.19%,75% 6.7%,74.75% 25.25%,93.3% 25%,83.81% 40.94%,100% 50%);
  background: #474847;
}
.loader-get:after {
  margin: 12.5%;
  clip-path: polygon(100% 50%,78.19% 60.26%,88.3% 82.14%,65% 75.98%,58.68% 99.24%,44.79% 79.54%,25% 93.3%,27.02% 69.28%,3.02% 67.1%,20% 50%,3.02% 32.9%,27.02% 30.72%,25% 6.7%,44.79% 20.46%,58.68% 0.76%,65% 24.02%,88.3% 17.86%,78.19% 39.74%);
  background: #C0C0C0;
  transform: rotate(0turn) translate(15.625%) rotate(0turn);
  animation: l3-1 2s linear infinite;
}
@keyframes l3-0 {to{rotate: -1turn}}
@keyframes l3-1 {to{transform: rotate(1turn) translate(15.625%) rotate(-1.333turn)}}


.my-name svg path {
  fill: transparent;
  stroke: black;
  stroke-width: 0.1;
  stroke-dasharray: 190;
  stroke-dashoffset: 190 ;
  animation: myname 5s ease-in-out 1 forwards;
}

@keyframes myname {
  0% {
  stroke-dashoffset: 190 ;
    
  }

  100% {
  stroke-dashoffset:0 ;
    fill: black;
  }
}


.type-select {
  --background-gradient: linear-gradient(178deg, #ffff33 10%, #3333ff);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

.type-select select {
  /* Reset Select */
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
.type-select select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.type-select .select {
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.type-select .select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.type-select .select::after {
  color: #f39c12;
}

.down_note {
    display: flex;
    justify-content: center;
}